[2018-05-01 17:40] teebeey opened #1 "Incorrect URLs in index.yaml"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Download a chart through a Nexus Helm proxy repository. As the path is rewritten incorretly, it gives an error 404.

* **What feature or behavior is this required for?**
Basic functionality.

* **How could we solve this iss

[2018-05-01 19:15] DarthHater commented on #1
Interesting! I can solve this for sure, or send a PR if you already got it :)

When I approached writing this I was using the https://kubernetes-charts.storage.googleapis.com/ as my kinda "bible". What repo are you proxying in this case?

[2018-05-01 20:08] teebeey commented on #1
Hi, I haven't implemented a fix. Maybe next weekend I could try this, it seems easy, but I haven't looked into the code yet.

I'm using a private helm repository: https://github.com/kubernetes-helm/chartmuseum

[2018-05-01 20:16] DarthHater commented on #1
I've got something cooking over on this side, it's in our private repo right now, if the team thinks it solves the issue I'll push it out for you, but definitely send a PR if you come up with something.

When I think about this, we have to handle a few cases:

- index.yaml with relative urls (your issue)
- index.yaml with absolute urls like the one I linked
- index.yaml with absolute urls that hav

[2018-05-03 22:31] DarthHater commented on #1
I think I've got the fix for this together. Waiting on a blessing internally and then I'll push it out!

[2018-05-04 11:49] derkoe opened #2 "Support for hosted Helm repos"
* **What are you trying to do?**
 Creating a hosted Helm repository.

* **What feature or behavior is this required for?**
  To publish inhouse Helm Charts

* **Anything else?**
Is there any plan to support hosted (and probably proxy) Helm repositories?

[2018-05-04 16:26] #1 closed

[2018-05-16 23:42] DarthHater commented on #2
I'd like to do this, yeah! I have some of it in progress (I use an internal repo so I can move a bit quicker) but far from complete. Would you be into working with me on it @derkoe ?

[2018-06-09 14:56] uliul-carpatin commented on #2
@DarthHater it would be nice to have a feature branch open with the current development..

[2018-06-21 20:39] DarthHater commented on #2
@uliul-carpatin I'll see if I can push it up with a bit more progress soon. One of those things I don't want to do half baked.

@tomdavidson help test it once I/we get something up!

[2018-07-02 12:57] ntwrkguru commented on #2
@DarthHater I'd like to test as well. Took me about a week to get this working as a built-in to Dockerized Nexus. It was then that I realized it only supported proxy. Guess I should have read the docs more thoroughly...stupid Y chromosome.

[2018-07-18 01:48] blackdog0403 commented on #2
@DarthHater  This feature looks great. My team and I have been considering many ways to give authorization for helm charts repository but this looks way better than others.
I would like to test too.

[2018-07-23 18:59] DarthHater commented on #2
I'll try and give this a bit more focus this week y'all!

[2018-07-28 03:57] DarthHater commented on #2
Should have something for y'all to test next week. Thanks for keeping on me about this, I'll be stoked to see if it works to y'alls satisfaction!

[2018-07-31 22:32] DarthHater commented on #2
![screen shot 2018-07-31 at 1 49 53 pm](https://user-images.githubusercontent.com/5544326/43490615-e544d9c8-94cd-11e8-81e6-1c9ae0cbc836.png)

Aight @blackdog0403 @ntwrkguru @uliul-carpatin @derkoe @tomdavidson I got something that will generate the `index.yaml` file. I need to do a few more tweaks and then I'll publish it for y'all to test. What I've done, just to give you an idea is:

- Allow for

[2018-08-01 01:41] tomdavidson commented on #2
Nice!

A pipeline that releases to the repo  will need to wait for the index.yaml before trying to deploy or have a quite small interval so I have a few questions to help me understand the implications:

1. What is the overhead impact of regen on a timer? With large catalogs do we risk the regen taking too long or hogging resources?
2. Is a race possible with Nexus webhook on a new artifact or can

[2018-08-01 18:35] DarthHater commented on #2
@tomdavidson we chose this approach for Helm because we expected a lot of releases, versus with R we generate the metadata on each request (which can fall down at scale, but we didn't expect a LOT of releases on an R hosted repository).

1. Same as it would be doing generation on the fly, which is why we scurried it off into a service, also so that we can only regenerate when new assets/artifacts

[2018-08-02 17:12] jlstephens89 commented on #2
The configurable delay was something we added for Yum to prevent multiple
successive rebuilds when someone was uploading a LOT of RPMs. The helm
implementation can get everything it needs from the database and doesn't
need to crack open the charts so the default could / should be a lot lower
than 60 seconds (say 1 second). We should also benchmark it with a lot of
traffic as it might be unnecessar

[2018-08-02 22:47] DarthHater commented on #2
Gotta get through a PR process, but today I got it to save what I think is a valid index.yaml file after uploading three charts:

[code]

Pretty stoked!

[2018-08-16 19:56] DarthHater commented on #2
Okie dokie, I just pushed this out to master, I'll tag a release as well to make it obvious.

I have NOT added documentation related to this yet, because I would like some people to test it first to let me know what they run into before I make it explicitly known it's out.

You'll want to setup a `helm-hosted` repo, and then upload charts to it.

I've been using curl to test thus far, an example o

[2018-08-16 20:03] DarthHater commented on #2
Stuff I want to know about:

- Does the index.yaml generate correctly, as you'd expect, work with your version of Helm, etc...
- Does it generate in a timely manner?
- Do the charts get stored as you'd expect?

Etc....

I am a helm user but pretty light overall, so I'd love to know more about your use, as I am sure it will eclipse mine!

[2018-08-16 20:05] ntwrkguru commented on #2
Testing now. Re: Your Dockerfile; I use a multi-stage build. I'm sure it can be improved, but it seems to work. The key parts are the initial `FROM alpine:3.6` where I use alpine to clone the repository and run the `maven clean package`

Below that, in the main image build steps, I `COPY --from=0` to copy the jar. This way the all of the build residue isn't in the main container.

Something like t

[2018-08-16 20:07] DarthHater commented on #2
Neato, thanks for sharing! Feel free to create a new issue if you think we can improve the one we have out there, or send a PR!

[2018-08-16 20:12] ntwrkguru commented on #2
Yours is cleaner, for sure, so maybe I'll submit a PR to add a build stage to the one you have. :-)

[2018-08-16 20:16] ntwrkguru commented on #2
DOH!!! Ignore me...I'm completely out of it today...that Dockerfile totally uses a build stage.

[2018-08-16 20:17] DarthHater commented on #2
Hah yeah I was wondering! No worries, my head is a bit in the clouds today :)

[2018-08-16 21:26] DarthHater commented on #2
These screenshots are from my testing:

![screen shot 2018-08-16 at 1 24 48 pm](https://user-images.githubusercontent.com/5544326/44235953-d609e700-a157-11e8-8550-322cf745c07d.png)

![screen shot 2018-08-16 at 1 24 59 pm](https://user-images.githubusercontent.com/5544326/44235960-da360480-a157-11e8-8352-3ee746fb894e.png)

This was after uploading three different charts, and the resulting index.yam

[2018-08-16 22:06] DarthHater commented on #2
FTR I turned the 60 second rebuild time down to 1 second, and it's still configurable, if you want to play with different intervals.

[2018-08-21 20:42] ntwrkguru commented on #2
For some reason, it builds fine on my Mac, but not on my Ubuntu 14.04 server. Pardon the garbled junk...it's Ansible's output:

[code]

[2018-08-22 10:49] jlstephens89 commented on #2
@ntwrkguru Does your stack trace include which test fails?

[2018-08-22 14:48] ntwrkguru commented on #2
Got it to work with some "magic". It's probably not your code, rather my implementation. I can indeed create a hosted helm repo, but am I correct in assuming that this only accepts uploads via curl at the moment? I attempted to add the repo using `helm repo add ...` but was unsuccessful. Just wanted to see what the current limitations were so that I could verify that I was doing things correctly.

[2018-08-23 17:00] DarthHater commented on #2
@ntwrkguru , you likely won't be able to add a repo until after you've uploaded artifacts to it, as the `index.yaml` won't exist until after something is there. I believe helm first checks for that file when you run `helm repo add`

You can upload to the repo via anything that does HTTP PUT, so curl, wget, your own code, etc...

[2018-08-31 03:28] dtshepherd commented on #2
@DarthHater does the hosted helm repo still support proxying to an external repo?

[2018-08-31 04:11] DarthHater commented on #2
What I have published now has two recipes, one for proxy and one for
hosted. Choose your own adventure!
On Thu, Aug 30, 2018 at 7:28 PM David Shepherd <notifications@github.com>
wrote:

[2018-09-12 12:50] brezblock commented on #2
Hi @DarthHater.
Testing nexus 3.13.0-01 with v0.0.2 helm plugin.
And not able to upload helm package to hosted helm repo.
Getting Error 500 from nexus server.
Have you faced with such issue?
Thank you.
`$ curl -u admin:admin123 -v https://dev-nexus/repository/helm-internal/ --upload-file apache-0.2.0.tgz
.....
* HTTP 1.1 or later with persistent connection, pipelining supported
< HTTP/1.1 100 Cont

[2018-09-12 14:10] brezblock commented on #2
@DarthHater
Looks like fixed. Added missed fields in Chart.yaml (like icon, sources and maintainers)

[2018-09-14 03:20] liupchina opened #3 "image build error"
**as the guide, when i try step Build with Docker,something wrong here. while step Building is ok**

[code]

**after exec Building, chang Dockfile "COPY --from=build /nexus-repository-helm/target/nexus-repository-helm-${HELM_VERSION}.jar ${TARGET_DIR}" to "COPY ./target/nexus-repository-helm-${HELM_VERSION}.jar ${TARGET_DIR}",build image succsesful. when i run this image,got another error containe

[2018-09-14 16:39] dtshepherd commented on #2
@brezblock See my PR #5

[2018-09-14 22:52] ronny35 opened #6 "Nexus Helm Repo : uri not take into account during fetch"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**

I try to use one helm repo proxy ( to https://kubernetes-charts.storage.googleapis.com/ ) but I have :
helm repo add nexusrepo http://nexus/repository/helm-stable-proxy/
helm fetch nexusrepo/mongodb
Error: Failed to fetch

[2018-09-16 16:13] credit2go commented on #6
by reference note https://github.com/helm/helm/issues/3878, I just try to fix this by changing code. It works fine on my environment with Sonatype Nexus 3.13.01 version

[2018-09-17 06:46] loverto opened #8 "Nexus Helm Repo : uri not take into account during fetch"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
I try to use one helm repo proxy ( to https://charts.gitlab.io ) but I have :
helm repo add nexusrepo http://nexus/repository/helm-stable-proxy/
helm fetch nexusrepo/mongodb
Error: Failed to fetch  http://10.100.100.11/repo

[2018-09-17 12:26] ronny35 opened #9 "Template version not detected in Rancher 2.0"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**

I try to add a new Helm catalog (hosted) in Rancher but the template version is not detected in the form
![catalog](https://user-images.githubusercontent.com/15168987/45622967-14abfd80-ba86-11e8-9cdb-0114e6728bb6.jpg)

* *

[2018-09-17 12:56] loverto commented on #6
[FIX BUG](https://github.com/sonatype-nexus-community/nexus-repository-helm/pull/7)

[2018-09-17 14:04] ronny35 commented on #9
In addition, the index.yaml generated 👍

apiVersion: '1.0'
entries:
  traefik-dmz:
  - created: 2018-09-17T11:27:54.889Z
    description: A Traefik based Kubernetes ingress controller with Let's Encrypt
      support
    digest: 78264945c32b90dd1c9878701baed4297eba0b7d4a021431a66b9fa4f62f4cf4
    icon: http://traefik.io/traefik.logo.png
    name: traefik-dmz
    urls:
    - traefik-dmz-1.43.0.tgz

[2018-09-18 08:17] hbzhu opened #10 "docker build erro"
first
docker build -t nexus-repository-helm:0.0.2 .
then erro:
failed to update the store state of sandbox: failed to update store for object type *libnetwork.sbState: json: cannot unmarshal object into Go struct field sbState.ExtDNS of type string

[2018-09-18 15:08] ronny35 commented on #6
Thanks, but this issue occurs always with this change.

[2018-09-18 20:16] dtshepherd commented on #2
@jonathansloman I noticed this bug as well. I’ve been meaning to open an issue. Restart nexus and it should see the index.yaml.  You only need to do this once for the initial index create.

[2018-09-18 21:42] dtshepherd commented on #8
See PR #4.  I'm guessing its the same issue.

[2018-09-19 08:09] jonathansloman commented on #2
Thanks, can confirm this fixes it. One the one hand, glad it wasn't something stupid I did, on the other hand, should have thought of restarting to try to fix it myself..

[2018-09-19 19:36] DarthHater commented on #8
Hmmm, this is gonna be tricky actually. Being they use a different URL for the charts than the actual repo, we'd need to make outbound requests to whatever the URL indicates. I'll see if I can noodle on this in a bit, but other PRs, etc... are welcome!

The url itself needs to be set to relative versus absolute so that requests are made through Nexus Repo (otherwise what's the point of using it, h

[2018-09-19 20:27] DarthHater commented on #2
SUPER weird. Lemme play with it. I left out some functionality that would allow you to generate the index.yaml manually (rather than automagically like now), maybe I can add that in for trouble shooting, but I'd love to know why it's not working right out of the gate for y'all.

[2018-09-19 20:30] dtshepherd commented on #2
Maybe the nexus frontend is caching something about the store and the restart clears the cache making the index.yaml available?

[2018-09-20 12:49] g0blin79 opened #11 "Error resolving artifact org.apache.commons:commons-compress:jar:1.11"
* **What are you trying to do?**
I'm trying to build a sonatype/nexus3:latest container injecting this plugin.

To do that I used this Dockerfile that is mainly created starting from yours:

[code]

As you can see, I updated informations basing on your latest release 0.0.3 (uploaded 16 hours ago). But I had same problem also with the previous one (0.0.2)

When I run the docker image created in thi

[2018-09-20 17:13] #11 closed

[2018-09-20 21:21] DarthHater commented on #9
Hmmm, I do not use Rancher, so this is going to be tough for me to test. I think this is because the Rancher config doesn't use a version of Nexus Repo that has helm built by default?

[2018-09-21 02:27] loverto opened #13 "Support web page upload helm component"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Use the web page to upload the helm component
* **What feature or behavior is this required for?**
web page upload helm component
* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

[2018-09-21 02:28] loverto commented on #13
![image](https://user-images.githubusercontent.com/3992018/45856928-20027000-bd89-11e8-96e1-d35f086209fd.png)

[2018-09-21 02:29] loverto commented on #13
![image](https://user-images.githubusercontent.com/3992018/45856945-2f81b900-bd89-11e8-8a3c-fa68be74a2e3.png)

[2018-09-21 02:33] loverto opened #14 "Support for secondary directory to get helm warehouse"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Support for secondary directory to get helm warehouse
* **What feature or behavior is this required for?**
Support for secondary directory to get helm warehouse
* **How could we solve this issue? (Not knowing is okay!)**

*

[2018-09-21 02:35] loverto commented on #14
![image](https://user-images.githubusercontent.com/3992018/45857147-031a6c80-bd8a-11e8-9dd9-7f2e2c6324dc.png)

[2018-09-21 06:38] loverto commented on #8
There are two different addresses for a helm repo, there is a way to handle it,
1. Assuming that the storage addresses in the url are the same, then you can directly proxy the storage address.

2. Adding url addresses are different, then you need to store a different url in index.yaml in the helm component.

Fortunately, the situation is now the first one in chart.gitlab.io, then the solution is t

[2018-09-21 13:51] g0blin79 commented on #2
Hey guys, need some informations because as I correctly intend, the "hosted" repo was a really recent improvement. I created an "hosted helm repo" on my Nexus instance. Now in the list of repositories I have helm repo too, with the relative URL (ex: https://nexus.mydomain.com/repository/charts/).

I uploaded a chart package in the way in which @DarthHater did here https://github.com/sonatype-nexus

[2018-09-21 14:10] jonathansloman commented on #2
hi @g0blin79 - read my comment above, it's the same issue. The index.yaml file, though it exists, is not visible after you add your first chart. Try restarting your nexus, you should then find the index.yaml is visible and you can do the helm repo add.

[2018-09-21 19:54] DarthHater commented on #2
Ok y'all, after some talking with @jlstephens89 I think we figured out why the index.yaml might not "show up" until after a restart, and that was because I was adding a NegativeCacheHandler to Hosted repos. I went ahead and got rid of that, and tagged a new release: https://github.com/sonatype-nexus-community/nexus-repository-helm/releases/tag/v0.0.4

Give that a whirl and let me know your experie

[2018-09-21 21:02] DarthHater commented on #2
I'm gonna play a bit more with the exact commands y'all are running too, got some free time today!

[2018-09-21 21:35] DarthHater commented on #14
This is something I did sort of on purpose (I personally didn't know how many repos are out there, so I stuck with just supporting stuff from the root). As I mentioned in #15 , we should break out your changes for this into a separate PR, as I'll need to test this against Proxy and Hosted to ensure it works. Thanks a ton for filing this, and for going the extra mile to make the changes!

[2018-09-21 21:35] DarthHater commented on #10
Closing this for now, feel free to reopen if you can't resolve.

[2018-09-21 21:35] #10 closed

[2018-09-21 21:37] DarthHater commented on #8
@loverto you are correct, you can totally do that as long as the index.yaml and the charts are accessible via that URL. It might be worth reaching out to the maintainers of that repo and asking them why they maintain two separate URLs, maybe they can merge them. I can totally understand wanting to host your charts on S3 or something akin, but if the index is also there it just begs the question of

[2018-09-25 07:44] papanito commented on #3
Same problem here when running from `mvn clean package`

[code]

[2018-09-25 11:27] g0blin79 commented on #2
wow now it works like a charm.

But (don't hate me...)...

It's not clear for me if there is a way more "standard" to upload a chart via command-line.
I tried with "curl" command and it works, but it is not so simple to use (and to put in a CI system for example).
Could be really amazing if we can use the "helm push" command born for chartmuseum. I tried with that but probably it does not work, be

[2018-09-26 14:24] zyriuse75 opened #17 "Error to run nexus after added the parameters on nexus-core-feature-3.8.0-02-features.xml"
* **What are you trying to do?**
 I  trying to setup the plugin.

I've added on :

The lines below as you said on your procedure.
`
<feature version="3.8.0.02" prerequisite="false" dependency="false">nexus-task-log-cleanup</feature> <feature prerequisite="false" dependency="false">nexus-repository-helm</feature> `

When i start nexus  **./nexus run**
i'get the error below . I've checked the owner

[2018-09-27 23:15] loverto commented on #17
Upgrade your nexus to latest

[2018-09-28 19:47] DarthHater commented on #17
Yeah, this will not work against an older version of Nexus Repository. I can't say for sure which it would fail on, but please use 3.13 or higher for now.

[2018-09-28 19:47] DarthHater commented on #17
@zyriuse75 or @loverto we should probably add a documentation note about this, if either of you wants to send a PR I'll keep this issue open to track that!

[2018-10-01 17:39] DarthHater commented on #14
Totally true, GitHub closed this because the original PR mentioned this and the other issue. Reopening!

[2018-10-09 20:30] gsexton opened #19 "Provenance Files"
I'm trying to upload a provenance file as part of a helm chart and it's throwing an error.  Here's what I'm doing:

[code]
Do you have any idea of what I'm doing wrong?

Also, should I be able to set values like helm.app_version or helm.maintainers as fields in my post?

Thanks.

[2018-10-09 20:40] dtshepherd commented on #2
@DarthHater Ok I just tested out 0.0.5 and things seem to be working.

[2018-10-09 20:42] dtshepherd commented on #2
@g0blin79 I haven't been able to get this in its own repo, but I created a simple helm plugin to `helm push` charts: https://gist.github.com/dtshepherd/9cd8e2b649775e548a35cb57ca02e62a

[2018-10-09 21:27] DarthHater commented on #19
There is no route yet to allow these to get uploaded, so you aren't doing anything wrong!

Right now the only matcher I have for Hosted (for uploading files) is:

https://github.com/sonatype-nexus-community/nexus-repository-helm/blob/master/src/main/java/org/sonatype/repository/helm/internal/hosted/HelmHostedRecipe.groovy#L126

If we want to add provenance files, we need to likely handle them as a

[2018-10-09 21:30] dtshepherd commented on #2
There's already a stale ticket here: https://github.com/helm/helm/issues/3564

Also, the push interface may be too specific for helm itself.  The plugin should probably be called `push-nexus` or something like that.  Seems like the plugin approach is probably the most appropriate.  App Registry actually did the same thing: https://github.com/app-registry/appr-helm-plugin

The github plugin is writ

[2018-10-09 21:36] DarthHater commented on #2
Yeah I love it! If you write it in Golang you'll probably get more helm people to pitch in on it at some point. I'd gladly help you on that (I love writing Go).

If you want, we can create a repo here on sonatype-nexus-community, something like `helm-nexus-push` or something akin if you'd like and I'll help you get it setup and everything?

[2018-10-09 21:42] dtshepherd commented on #2
Yeah, I'd be on board with that.  I can write Go as well, I don't think it will be much effort to port it.

[2018-10-09 21:53] DarthHater commented on #19
I'm going to start a branch for this @gsexton but it will be incomplete, maybe we can elaborate it together!

[2018-10-09 22:08] DarthHater commented on #19
There are some more wrinkles with handling this, as I look at it:

- There are coordinates in the .prov file, but it's a fun mix of yaml, and then signature stuff, which will make parsing it SUPER fun, I imagine
- We probably need to attach this to the component we create for a chart, as it's really a part of it at the end of the day (that way if you delete a component in the UI, etc... it will al

[2018-10-09 22:31] gsexton commented on #19
Wouldn't a provenance file be another asset of the component?

[2018-10-09 22:35] DarthHater commented on #19
Yeah, we just need to attach to it, and that can be interesting (say the provenance file gets uploaded before the chart). Not rocket science but it's just another step, and as a result of that, we need to know the coordinates. You can in theory get these from the filename but we tend to avoid doing that as some people have wacky naming conventions, so the best spot to get them from seems like .pro

[2018-10-10 15:24] gsexton commented on #19
For my particular case, I would either upload the .prov file along with the helm chart, or after the fact. I can't think of a case where I would upload it before. Of course there's the chance that the http request contains both files and the .prov is the first one presented.

[2018-10-22 17:41] wu105 commented on #19
My understanding is that the chart package file name and the provenance file name are generated by helm according to the Chart.yaml content thus standardized, and usable as unique id after trimmed of both the .tgz and .prov file extensions.

Using the names might allow the repo to list the .prov file along with its package file if present, simply store a .prov file and make it available when reque

[2018-10-26 13:55] au-hao opened #20 "HELM proxy with relative path in index.yaml throws 404 Not Found issue"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
I am trying to use helm proxy and understood there are some similar questions posted but I still cannot figure out how to use it properly. Need a help.

* **What feature or behavior is this required for?**
Issue:
[code]

pr

[2018-10-26 16:28] au-hao commented on #20
When I change the remote storage to `http://autonomic.jfrog.io`, it's able to download the helm charts but says `index.yaml` not found.

[2018-10-26 19:43] au-hao commented on #20
After doing debug, I realize

[2018-10-31 14:41] au-hao commented on #17
I am using nexus 3.13 and having the same issue:

[2018-11-01 00:38] DarthHater commented on #17
I'll give it a twirl!

[2018-11-01 01:01] DarthHater commented on #17
Pretty sure I know what the issue is. I'm going to make some updates to get Helm working with 3.14.0-04 and I'll also update some instructions to get it good to go with 3.13.0-01

[2018-11-02 19:35] DarthHater commented on #20
I think this is because the way I have things setup right now is to just use the basepath, not subfolders. I'll take a gander at #21 , that's likely the ticket.

[2018-11-08 15:56] agill17 opened #22 "Programmatically deleting a helm chart from a helm repo in nexus throws a 404 Not found error"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Delete a chart from helm repository

* **What feature or behavior is this required for?**
To perform clean-ups of temporary charts

* **How could we solve this issue? (Not knowing is okay!)**
By implementing a delete route

[2018-11-14 17:24] ghost opened #23 "Helm hosted repo does not create initial index.yaml file"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Add helm hosted repo locally when it's empty.
* **What feature or behavior is this required for?**
When adding empty helm hosted repo, it throw
`index.yaml file not exist` error.
Since there's no charts on the repo, there's

[2018-11-21 17:09] DarthHater commented on #22
This should be fixed now! You can now `curl -X DELETE` the path of the tar.gz you want to delete. I've released this as 0.0.6

Give it a shot and let me know how it goes for you :) @agill17

[2018-11-21 17:09] #22 closed

[2018-11-21 17:30] DarthHater commented on #23
This is a good idea! It would make adding the repo easier, I imagine. Anyone care to take a run at it?

[2019-01-02 16:17] drbeka commented on #2
hi,
have tested version 0.0.6 and it works for standard tgz file.
Is it possible to build a tree structure inside the helm repository?
Have tried with
curl  https://mynexus/repository/myhelm/sub1/sub2 --upload-file mychart-0.1.0.tgz
but no effect, only found 404 in request.log

Is it possible to have a folder structure?

[2019-01-08 15:45] drbeka opened #26 "helm proxy doesn't create index.yaml - 404 Not found"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**

Have installed nexus-repository-helm plugin 0.0.6 on nexus repository server version 3.13.
Hosted helm repositories are working fine, so I created a proxy helm repository with
name kubernetes-charts, remote URL https://kub

[2019-01-08 16:01] drbeka commented on #26
Have installed nexus-repository-helm plugin 0.0.6 on nexus repository server version 3.13.
Hosted helm repositories are working fine, so I created a proxy helm repository with
name kubernetes-charts, remote URL https://kubernetes-charts.storage.googleapis.com/
and access URL https://mynexus.mycompany.com/repository/kubernetes-charts.
To use that repo I wanted to add the access URL to my helm repo

[2019-01-09 00:10] nicosto commented on #17
Hi, any update on the fix for 3.14?

[2019-01-09 00:12] DarthHater commented on #17
Lemme spin up a branch, I'll push it up if you'll test it :)

[2019-01-09 00:14] nicosto commented on #17
Happy to give a spin

[2019-01-09 00:26] sonatype-depshield[bot] opened #27 "[DepShield] (CVSS 9.8) Vulnerability due to usage of commons-fileupload:commons-fileupload:1.3.2"
**Vulnerabilities**

DepShield reports that this application's usage of [commons-fileupload:commons-fileupload:1.3.2](https://ossindex.sonatype.org/component/pkg:maven/commons-fileupload/commons-fileupload@1.3.2) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2016-1000031]  Improper Access Control](https://ossindex.sonatype.org/vuln/3d5968a4-4e14-4a98-8816-a4e847bc1426)

<hr />

[2019-01-09 00:26] sonatype-depshield[bot] opened #28 "[DepShield] (CVSS 9.8) Vulnerability due to usage of com.fasterxml.jackson.core:jackson-databind:2.9.2"
**Vulnerabilities**

DepShield reports that this application's usage of [com.fasterxml.jackson.core:jackson-databind:2.9.2](https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.9.2) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2018-7489]  Incomplete Blacklist, Deserialization of Untrusted Data](https://ossindex.sonatype.org/vuln/4f7e

[2019-01-09 00:43] nicosto commented on #17
@DarthHater  I can confirm that 0.0.7 is working on my nexus 3.14.0-04.
Thanks for the quick fix on this.

[2019-01-10 08:48] yushantao opened #29 "something error when docker run image"
I try to pack helm plugin in nexus docker image nexus image version is 3.14.0.14 ,I pack 0.0.7 helm plugin, but when I run image something error,like maven can not download compress image
How to solve this problem?
![image](https://user-images.githubusercontent.com/9460491/50956769-7b529c80-14f7-11e9-9379-cd427e2d8cd5.png)

[2019-02-01 00:32] nicosto opened #31 "Avoid confusion between plugin version and nexus version"
Hi,

This is a 'feature request'

Having an easy way to match plugin version with nexus version.

I'd like to suggest to bump the plugin version to match the nexus version.

Thanks,
Nicolas

[2019-02-07 08:53] abuzhynsky opened #33 "Release 0.0.7 version"
Please release the version 0.0.7 (docs refer to it and looking at the commits seems it's done). Please create the Github release and corresponding git tag.

We are using the version tags in our CI process building the custom Nexus Docker image with multiple plugins installed. We can use the `master` branch but it's not so convenient.

[2019-02-08 15:45] N4rm0 commented on #23
@DarthHater Could you please review this PR?

[2019-02-28 14:58] oussemos commented on #33
+1

ping @DarthHater

[2019-03-01 11:20] Chaya56 commented on #33
+1

[2019-03-26 08:44] paulvi commented on #31
ref #33

That would give false impression about stability of this plugin, IMHO

[2019-03-26 08:52] nicosto commented on #31
The issue is to keep track of the relevant version that match the nexus version.
If you load a plugin with the wrong versiont, nexus crash... tested in 3.15.1.
I'd like to prevent this case

[2019-03-26 11:10] paulvi commented on #31
oh, I see

but isn't table in README is other way to solve?

https://github.com/sonatype-nexus-community/nexus-repository-helm#compatibility-with-nexus-repository-manager-3-versions

[2019-04-05 16:09] smackattacka commented on #26
We experience this as well with v0.0.6 on nexus 3.15.2

[2019-04-12 16:15] dansiviter commented on #33
+1. Adding comment as it seems this project has gone silent.

[2019-04-29 10:03] mmaier2 opened #38 "Groovy script for creating helm repos ?"
Hi,
question: Does the plugin also provides some groovy scripting support?

* **What are you trying to do?**

Creating a helm repo with support of the scripting API. E.g. something like repository.createPyPiProxy(...)

* **What feature or behavior is this required for?**

Creating a helm repo outside the UI

Thanks
Markus

[2019-05-13 19:00] chrisbsmith opened #39 "appVersion not populated in index.yaml"
When performing a `helm search`, the `appVersion` is not returned.  In our case, the `version` and `appVersion` are not the same and we're using `version` to track updates to the Helm chart, and our `appVersion` to specify the version for the deployed software.

* **What are you trying to do?**
View the appVersion from a `helm search`.

* **What feature or behavior is this required for?**
To speci

[2019-05-18 10:02] padzikm commented on #29
I've also experienced this:
1) cloned yours repo
2) built dockerfile
3) run docker image

`2019-05-14 04:04:33,750+0000 INFO  [FelixStartLevel] *SYSTEM org.sonatype.nexus.pax.logging.NexusLogActivator - start
2019-05-14 04:04:36,648+0000 WARN  [FelixStartLevel] *SYSTEM uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4JInitialiser - Your logging framework class org.ops4j.pax.logging.slf4j.Slf4jLogg

[2019-05-26 14:31] g0blin79 commented on #33
+1

[2019-05-30 15:22] illyaMs opened #40 "Etag header support for index.yaml"
* **What are you trying to do?**
Download a list of all charts (download `/repository/helm/index.yaml` file).
There seems to be no [ETag header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag) support => file is fairly re-downloaded every time (instead of returning a `304` response code if current `Etag` matches the one provided by client)

* **What feature or behavior is this requ

[2019-06-02 18:37] davidkarlsen commented on #33
This issue seems to have been around for a while - is this project dead?
Also is 0.0.7 compatible with latest 3.16.2-01 release?

[2019-06-02 18:52] DarthHater commented on #33
I can take a gander this week. Not dead necessarily, but I paused a bit as
it seems helm was evolving quicker than I could keep up :)

On Sun, Jun 2, 2019 at 10:37 AM David J. M. Karlsen <
notifications@github.com> wrote:

[2019-06-18 08:47] cassador opened #41 "Building with latest 3.16.02-01 fails"
* **What are you trying to do?**
I tried to build the application with latest nexus which was 3.16.02-01 and the maven build failed on Could not find artifact commons-fileupload:commons-fileupload:jar:1.3.2.SONATYPE

Just adding to pom.xml following dependency worked  (group Id, artifact ID and version)
 <dependency>
    <groupId>commons-fileupload</groupId>
    <artifactId>commons-fileupload</art

[2019-06-18 08:49] cassador commented on #33
@davidkarlsen  the maven build crash when you try to use 3.16.2-01. I already posted an issue about it with corresponding fix as i am trying to implement the 3.16.2-01 with this plugin.

@DarthHater  if you want i can try to contribue from Ops perspective like adjustments which i found required for 3.16.2-01 regarding the pom.xml , Dockerfile etc... Maybe even some optimalization of Dockerfile onc

[2019-06-18 09:27] cassador commented on #41
Also Additional finding was during the build process a change in Dockerfile was required otherwise the container was just crashing. I am also working on implementation of docker-compose to make running this much easier. I think i will run into additional issues during the testing and implementation, but will keep updated this thread with list of changes which were required on my end to run on curr

[2019-07-16 07:07] wongkafai opened #43 "image build error"
Step 6/15 : RUN cd /nexus-repository-helm/; sed -i "s/3.14.0-04/${NEXUS_VERSION}-${NEXUS_BUILD}/g" pom.xml;     mvn clean package;
 ---> Running in a74dc0601fd8
[INFO] Scanning for projects...
Downloading from central: https://repo.maven.apache.org/maven2/org/sonatype/nexus/plugins/nexus-plugins/3.14.0-04/nexus-plugins-3.14.0-04.pom
[ERROR] [ERROR] Some problems were encountered while processing t

[2019-07-23 20:07] #29 closed

[2019-07-23 20:09] sonatype-depshield[bot] opened #45 "[DepShield] (CVSS 6.5) Vulnerability due to usage of org.apache.tika:tika-core:1.19.1"
**Vulnerabilities**

DepShield reports that this application's usage of [org.apache.tika:tika-core:1.19.1](https://ossindex.sonatype.org/component/pkg:maven/org.apache.tika/tika-core@1.19.1) results in the following vulnerability(s):

- (CVSS **6.5**) [[CVE-2018-17197]  Uncontrolled Resource Consumption ("Resource Exhaustion")](https://ossindex.sonatype.org/vuln/8e7a21eb-c383-451e-91af-6b40ec41a3f

[2019-07-23 20:09] sonatype-depshield[bot] opened #46 "[DepShield] (CVSS 7.5) Vulnerability due to usage of com.thoughtworks.xstream:xstream:1.4.10"
**Vulnerabilities**

DepShield reports that this application's usage of [com.thoughtworks.xstream:xstream:1.4.10](https://ossindex.sonatype.org/component/pkg:maven/com.thoughtworks.xstream/xstream@1.4.10) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2013-7285]  Improper Neutralization of Special Elements used in a Command (Command Injection)](https://ossindex.sonatype.org/vul

[2019-07-23 23:01] nicosto opened #47 "Support Nexus 3.17"
Hi team,

Thanks for your work on this plugin.
Could you add the support of the latest 3.17?
Thanks
Nicolas

[2019-07-24 15:10] bhamail commented on #47
I'm working on this now.

[2019-07-24 15:19] bhamail commented on #47
Latest on master uses 3.17. Please let us know about any issues you find.

[2019-07-24 15:19] #47 closed

[2019-07-24 15:20] bhamail commented on #43
It looks like you are using an old version of the plugin.
Could you try using the latest plugin and let us know if this is still a problem?

[2019-07-24 15:25] bhamail commented on #41
In case it helps, recent patches were applied and built against 3.16.02-01. Specifically, v0.0.9 of the plugin. Please report if using the v0.0.9 version solves the problem. (The latest on master is built against 3.17.0-01).

[2019-07-24 15:31] bhamail commented on #33
Since this issue was created, v0.0.8 and v0.0.9 have been release tagged. v0.0.10 is currently on master. Please try using a newer release.
If you really need a "v0.0.7", you might want to try build from this commit: 0626ff3da28631e10cffc5e5180b15505e568dad

[2019-07-24 15:31] #33 closed

[2019-07-24 15:37] bhamail commented on #3
I've also seen the intermittent unit test failure mentioned above in: org.sonatype.repository.helm.internal.metadata.IndexYamlBuilderTest#testChartIndexPassedCorrectly()

For me, when I rerun the test/build, it seems to pass just fine. Haven't been able to reliably reproduce the failure. I added some additional test validation in this commit: 95a92728dabd075947759a37b127cf71f25f0e75

If anybody ha

[2019-07-24 18:10] #23 closed

[2019-07-24 18:13] bhamail commented on #26
Fixed by 7c41668

[2019-07-24 18:13] #26 closed

[2019-07-24 18:15] bhamail commented on #20
Not sure if this issue is about a missing index.yml for new/empty repos, of if it is really related to 'sub-folders': #21

[2019-07-24 18:28] bhamail commented on #31
If I understand the concern correctly, I believe the above referenced chart in the README.md makes it clear which version of Nexus should be used. Please reopen/comment if I've missed the point.

[2019-07-24 18:28] #31 closed

[2019-07-24 18:34] bhamail commented on #17
Closing as fixed. There's also some shiny new releases available now.

[2019-07-24 18:34] #17 closed

[2019-07-24 19:09] bhamail commented on #6
Is think still a problem with the latest releases? (e.g. v0.0.9+)

[2019-07-24 19:49] bhamail commented on #28
v0.0.8+ fixes this issue.

[2019-07-24 19:49] #28 closed

[2019-07-24 19:50] bhamail commented on #27
v0.0.8+ fixes this issue

[2019-07-24 19:50] #27 closed

[2019-07-24 21:47] nicosto commented on #31
Hi,

The main point is the operational use of the plugin with config management
system (ansible).
As Nexus crashs if there is a plugin version mismatch, you have to maintain
a compatibility matrix yourself instead of having a shared variable (the
version).

The readme is useful for the install but not so handy to manage Nexus
upgrade lifecycle.

Cheers

On Thu., 25 Jul. 2019, 04:28 Dan Rollo, <not

[2019-07-29 09:23] davidkarlsen opened #49 "Trouble creating helm repo"
I cannot create a helm repo, the helm (proxied) and helm (hosted) appear in the drop down, but when selecting any of them nothing happens.

I see this in the install log:

[code]

[2019-07-29 11:00] davidkarlsen commented on #49
Hm - it started working after a while!

[2019-07-29 11:00] #49 closed

[2019-07-30 19:53] bhamail commented on #43
Closing for now. Please reopen if this is still a problem.

[2019-07-30 19:53] #43 closed

[2019-07-30 20:19] bhamail commented on #45
No longer an issue after upgrading to nexus v3.16+, which uses tika-core v1.20+

[2019-07-30 20:19] #45 closed

[2019-07-30 20:32] bhamail commented on #46
Likely this will be resolved with we bump to using nexus v3.19, which uses goodies-testsupport:2.3.1+

[2019-07-30 20:34] bhamail commented on #41
Closing for now. Please reopen if this is still a problem.

[2019-07-30 20:34] #41 closed

[2019-07-30 21:41] davidkarlsen opened #50 "publish releases onto central"
background: https://github.com/sonatype-nexus-community/nexus-repository-helm/pull/48#issuecomment-516598460

[2019-08-06 13:23] vermaashutosh opened #51 "helm dep update does not reuse ca-cert certificate"
I am using nexus helm repository. Using my own ssl created certificate (not signed by any authority). Charts are already deployed in helm repository using some maven helm plugin.
I added helm repository successfully(helm repo add ..) but not able to run "helm dep update" command.
Looks like same certificate is not reused by "helm dep update"

[code]
[code]

[code]

[code]
[code]
* **What are you t

[2019-08-09 22:05] davidkarlsen commented on #50
any progress here @bhamail ? Will make it a lot easier to consume...

[2019-08-12 15:15] bhamail commented on #50
Hi David,

Thanks for the ping! There is progress, but not there yet. Still battling infrastructure issues. (CircleCI workflow got wedged in our test project, and we're still trying to figure out why). Stay tuned (and don't hesitate to ping again if needed).

Dan

[2019-08-26 19:01] tardich opened #53 "Unable to build"
Trying to build nexus-repository-helm plugin with the setup below, but it doesn't work. Most probably a setup issue but, as I'm not a Java developer, I can't say what's working.

Build environment: Docker container (ubuntu:18.04)
Java installed: default-jdk (openjdk version 11.0.4)
Maven installed: apache-maven-3.6.1-bin.tar.gz
mvn -v:
  Apache Maven 3.6.1
  Maven home: /opt/apache-maven-3.6.1
  J

[2019-09-11 18:53] gpoirier opened #59 "Getting 504's for manually gzip'd archives with default blocksize (tar)"
I'm trying to replace `helm package` by manually creating the tgz archives, but when I upload those tgz files to the helm repository in Nexus, I get 504 errors. If I package the exact same chart with the `helm package` command it works.

Both archives works fine when interacting with the `helm` client directly, either for `helm install` or `helm repo index`, both commands work without any problem

[2019-09-13 15:45] gpoirier commented on #59
After changing those things mentioned above, the publish was working locally, but it was still failing on Jenkins. I was finally able to make it pass on Jenkins when I changed the order of the files in the tarball to make sure that `Chart.yaml` is first.

[2019-09-13 16:53] gpoirier commented on #59
Given what I found about `Chart.yaml`, it seems like skipping the folder entries wasn't really the thing that matter per says, it's likely that when I had the folders included, the root folder was listed before `Chart.yaml` in the tar archive, making the upload processing crash.

[2019-10-01 00:03] davidkarlsen opened #66 "0.0.13 not working well with 3.19.0"
using this image:
https://github.com/evryfs/sonatype-nexus-docker/blob/master/Dockerfile
the index is not updated.

[code]

but:
[code]

I can browse the package in right version - but metadata seems wrong

[2019-10-02 10:28] pkoehlers commented on #51
I'm experiencing the same issue. I think this is related to helm/helm#5179. Probably this would be fixed by using absolute URLs instead of relative ones in the generated index.yaml?

[2019-10-04 00:40] bhamail opened #70 "Simplify Dockerfile"
The current Dockerfile has a large number of version references that are not required.

We should try to simplify this file to remove unneeded versions args, and decrease  maintenance work after each release.

Here's an example of such a file: [Dockerfile example](https://github.com/sonatype-nexus-community/nexus-format-archetype/blob/master/src/test/resources/projects/it1/reference/Dockerfile).

[2019-10-21 04:35] GivaDogaBone commented on #66
I'm also upgrading into the latest Nexus Repository Manager 3.19.0-01. Please let me know when it's ready.

[2019-11-05 12:24] marcoreni commented on #2
Hi all,

has anything been done regarding the above post?

Chartmuseum supports nested folders by defining a "depth" parameter. Can something like that be added here or do we have to create multiple repositories?

[2019-11-07 09:40] proteus1121 commented on #14
@loverto fixed in #81 , will be available in the next helm release.

[2019-11-07 09:40] #14 closed

[2019-11-08 19:58] bhamail commented on #66
Is the issue solved by the previous commit that simplified the Dockerfile, or by PR #85 ? If so, please feel free to close this issue.

[2019-11-08 20:01] bhamail commented on #53
Yes, NXRM requires Java 8. FWIW, upcoming improvements in the 'development' branch will detect and enforce the required Java version, so hopefully this issue will be easier to avoid. Thanks for reporting the problem and your solution!

[2019-11-08 20:01] #53 closed

[2019-11-08 21:32] #66 closed

[2019-11-12 12:51] vosmax commented on #2
I’ve installed version 0.0.13 on 3.19 but have an issue with helm push or curl -X PUT - server returns 500. Was it fixed or not?

[2019-11-25 10:49] verhyppo opened #94 "urls field generation hardcoded in index.yaml"
When retrieving the `index.yaml` from hosted or proxy repositories, `urls` for entries contains only the artifact name.
The actual behaviuor should be similar to:
[code]
this result on [helm charts repository](https://helm.sh/) is usually achieved using the following command:
`helm repo index <local-repo-folder>  --url https://<host and path for chart repository>/`
This way, the index is generated

[2019-11-25 20:14] moustafab opened #95 "CVE for nexus < 3.19.0"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
Upgrade to nexus 3.19.1

* **What feature or behavior is this required for?**
Critical CVE
https://support.sonatype.com/hc/en-us/articles/360036132453?_ga=2.261760462.238785005.1573993762-1681672352.1562768229

* **How coul

[2019-11-28 09:35] mlukaretkyi commented on #19
Hi guys. We have implemented support for provenance files, and it will be available in a future NXRM release.

[2019-11-28 09:48] mlukaretkyi commented on #39
Hi, I have looked at your problem and looks like you have worked with a chart that does not have populated appVersion. By the way, I tried to reproduce your problem used MySQL, MongoDB, PostgreSQL and had no success.
How to make sure. Unzip your chart and inside it find the file called Chart.yaml and this file should have appVersion

[2019-11-28 09:59] mlukaretkyi commented on #38
Hi. At the moment helm does not support "Groovy script for creating helm repositories".
So, you need to use NXRM UI
But, coming soon NXRM will have a new REST API.

[2019-11-28 10:00] #38 closed

[2019-11-28 10:00] #39 closed

[2019-11-28 10:17] mlukaretkyi commented on #94
Hi. Yes, you are absolutely right about hardcoded in index.yaml, but it was done for certain reasons.
So, I can give you advice about your problem.
You have NXRM URL and uploaded index.yaml from the repo, so you can get a chart and concatenate nxrm_url + chart and it will be URL that you need

[2019-11-28 10:23] #19 closed

[2019-11-29 15:03] verhyppo commented on #94
Many thanks for your advice, this is the same solution that I had in mind.
Since there is a reason behind the actual implementation in the plugin, I think is ok to close here the issue, can you please briefly explaining the reasons behind?

Thanks for the effort in this plugin, it's very appreciated!

[2019-12-02 09:58] mlukaretkyi commented on #94
Thanks for your interesting. The main reason. If NXRM moves to another host metadata will be invalid, I mean URLS in index.yaml.
We can implement this behavior, but this implementation requires the following behavior from NXRM. NXRM has to recalculate all metadata after launch. I guess concatenate NXRM_url + chart_name_version will be much easier than implementation with metadata recalculate. Also

[2019-12-02 09:58] #94 closed

[2019-12-02 10:09] mlukaretkyi commented on #59
Thanks for your interesting.
Fix was done, and it will be in the next NXRM release.
After release, you can manually create tgz archive and upload it to NXRM.

[2019-12-02 10:09] #59 closed

[2019-12-11 17:18] jondkelley opened #103 "404 issue when adding helm repo, maybe regression?"
Versions:

- **Nexus repository helm plugin (from git tag) 0.0.13**
- **Sonatype Nexus Repository ManagerPRO 3.19.1-01**
- helm version:
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

-------

* **What are you trying to do?**

I created a repository called `helm_hosted` which is a hosted repository using an s3

[2019-12-29 06:36] digitalray commented on #2
@vosmax no need to use helm push, you just need to upload the package to the repo somehow. I use curl:
```curl -v -F file=@somehelm-0.0.1.tgz -u username:password https://nexusendpointaddress.com/service/rest/v1/components?repository=helmrepo-name```
Once the package is uploaded, nexus will regenerate the index.yaml file

[2020-01-02 21:07] cwash commented on #103
I've installed 0.0.13 against 3.20.0-04, and I was able to create a helm hosted repo and upload a locally packaged tar.gz chart just fine using curl.

I do get a weird warning during upload, but I'm also never able to get index.yaml to render appropriately.  Nexus promptly returns me a 404.  I can, however, curl down the .tar.gz just fine, and browse the artifact and metadata just fine in the Nexu

[2020-01-10 10:52] mlukaretkyi commented on #103
@jondkelley I have tried to reproduce your problem but with no success.
I tried:
1. Create helm hosted repo with s3 blob store
2. Upload MySQL chart to repo
3. Add to helm repository using helm client

I think, that the problem is not s3, I guess the problem with your NXRM
In your error, I see 404. I can get 404 if I try to use a not existed repository.
1. Can you try to create repo using default

[2020-01-27 21:18] mcculls opened #113 "Helm plugin logs warnings on boot"
Recipes should use the helper method `addBrowseUnsupportedRoute(builder)` which was added back in 3.1.0 (sonatype/nexus-internal#976) rather than attempt to inject the handler directly and manually add the route.

This came up before with the Go format (sonatype/nexus-internal#4354) and it was noted that most of the plugins under https://github.com/sonatype-nexus-community/ needed a similar fix. U

[2020-01-29 13:09] aornatovskyy commented on #113
will be included int the Nexus Repository Manager 3.21.0

[2020-02-05 16:25] dylanpiergies commented on #103
I'm getting similar:
[code]
I have also tried uploading a chart using `curl -d @my-chart-0.0.1.tgz -u me:mypassword https://nexus/repository/helm-internal/` and get a 500 response instead.
[code]
$ helm nexus-push https://nexus/repository/helm-internal/ . -u 'me' -p 'mypass'
Pushing . to repo /...
Error: plugin "nexus-push" exited with error
[code]

[2020-02-05 19:58] petersjtaylor commented on #23
This change seems to cause java.lang.NoSuchMethodError: org.sonatype.nexus.transaction.UnitOfWork.begin(com/google/common/base/Supplier;) when run against 3.20.1.

[2020-02-06 16:02] OleksandrMykytenko opened #117 "Link to get started guide in README is broken"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
I'm trying to get information about usage Nexus as Helm Chart repository
* **What feature or behavior is this required for?**
Readme fix
* **How could we solve this issue? (Not knowing is okay!)**
I suppose check and fix th

[2020-02-17 04:25] cdivitotawela commented on #103
I am using Nexus-OSS-3.20.1 and Helm tag 0.0.13. I have created helm repository and using the local filesystem blobstore called hosted. This is empty directory.

When I try to add the repository using helm client I get the error
[code]

Then I thought let me upload a package and run the build index. But when I try to upload the artifact I get following UI error
`Ext.JSON.decode(): You're trying to

[2020-02-17 08:16] #113 closed

[2020-02-19 03:27] cdivitotawela commented on #103
Nexus repository 3.21.0 now available with inbuilt Helm. Thanks for getting in main stream. Nice work! I am going to check it now.

[2020-02-19 09:05] aornatovskyy commented on #103
@cdivitotawela  can you please update with results?

[2020-02-19 21:05] cdivitotawela commented on #103
@aornatovskyy I installed 3.21.0 (I use docker image) and added the helm repo-hosted repo using the API. I can see repo does have index.yaml created and could add the repository with following command
`helm repo add hosted http://<nexus-server>/repository/helm-hosted/`. Looks good so far. Don't see the issue I noticed with 0.0.13.

Looking good so far. Next I will be implementing CI pipeline to pu

[2020-02-19 21:07] cdivitotawela commented on #103
Official documentation here https://help.sonatype.com/repomanager3/formats/helm-repositories

[2020-02-21 08:41] aornatovskyy commented on #103
Thanks for update @cdivitotawela

[2020-02-21 08:42] aornatovskyy commented on #103
Going to close an issue if you don't mind? @jondkelley

[2020-03-02 09:34] aornatovskyy commented on #103
Close the issue.

[2020-03-02 09:34] #103 closed

[2020-03-10 13:25] bhamail commented on #70
Last step is fixed by #116

[2020-03-10 13:25] #70 closed

[2020-03-26 13:05] andy812 opened #124 "Add the support of helm push plugin"
I use Nexus Repository Manager OSS 3.21.2. I tried to use hosted helm repo, but can't push chart to it.
I use helm-push plugin (https://github.com/chartmuseum/helm-push), it works with every helm repos i used exept Nexus helm repo.
I got error:
405 HTTP method POST is not supported by this URL

Usage of Nexus API to upload chart (https://github.com/sonatype-nexus-community/nexus-repository-helm/is

[2020-03-27 14:57] aornatovskyy commented on #124
Moved to the Jira for further investigation: https://issues.sonatype.org/browse/NEXUS-23331

[2020-03-27 14:57] #124 closed

[2020-03-31 13:29] yusuf-gunaydin commented on #8
I have also encountered this issue with a few helm repos. (e.g. https://helm.elastic.co/ or https://oteemo.github.io/charts)

In elastic's case they serve the .tgz files on the same domain, but under different subpaths. For example the .tgz file for apm-server is at: `https://helm.elastic.co/helm/apm-server/apm-server-7.6.1.tgz`. But, from what I see, URLs are never taken into account whether they

[2020-04-30 19:45] tmckeag opened #127 "Helm proxy doesn't work for repos with internal relative paths"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
We are proxying a helm repository where the repo is relative to some host, and internally charts are relative still to the index location.

For example, assume we are proxying

https://torysinfrastructure/helm

Inside that

[2020-05-04 14:39] sonatype-depshield[bot] opened #131 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/sonatype-nexus-community/nexus-repository-helm/zgQ_ChbiEunO0h-6D3b3hQ). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/sonatype-nexus-communi

[2020-05-21 14:13] springdo commented on #1
hi @DarthHater was this issue resolved in any release of Nexus? Just running into the issue now myself where by the `urls` missing the absolute path. Thanks!

[2020-05-27 17:45] Sanjanare commented on #103
@aornatovskyy i see the same issue with 3.21.2 nexus as well, i have created helm-hosted repo on nexus which uses ldap , i see the same error,
[code]
i see error with helm nexus push plugin as well

[2020-06-05 12:59] aornatovskyy commented on #103
Hi @Sanjanare  sorry for the long silence. Are you still facing this issue?  Please post a ticket. https://issues.sonatype.org/
Regards!

[2020-06-05 13:23] aornatovskyy commented on #103
@Sanjanare looks like you are not authorized. Try `helm repo add nexusrepo http://$HOST_DOMAIN:8081/repository/<helm-repo-name>/ --username admin --password admin123`

[2020-06-09 03:01] OrDTesters opened #138 "Test fails when run after other tests"
Currently, test `IndexYamlBuilderTest.testChartIndexPassedCorrectly` fails when run after tests `HelmRecipeTest.haEnabledProxyRepository` and `CreateIndexServiceImplTest.testIndexYamlBuiltEvenWhenNoAssets`. I can make the test fail by running:
[code]
in the nexus-repository-helm module. The test fails with the following exception:

[code]

[2020-06-09 19:44] Sanjanare commented on #103
@aornatovskyy my problem is resolved, i have added a local user in the nexus repo , and passed the username and password of local user, that worked

[2020-06-16 06:59] hwaastad opened #141 "Helm v3 Support"
Thanks for creating an issue! Please fill out this form so we can be
sure to have all the information we need, and to minimize back and forth.

* **What are you trying to do?**
upload artifacts with apiVersion v2

* **What feature or behavior is this required for?**
Requirements for Helm v3 deployments in Rancher k8s environment

* **How could we solve this issue? (Not knowing is okay!)**
Currentl

[2020-07-03 05:31] LeoQuote commented on #8
The issue in https://issues.sonatype.org/browse/NEXUS-20929 was marked as "wont fix", don't know why, hope this can be fixed in the comming releases.

[2020-08-05 15:54] #131 closed

[2020-08-12 11:00] almorgv commented on #127
IMO its a critical issue. Why it has not been fixed yet? We have stuck in this today. This bug makes nexus unusable for numerous helm chart repositories.

[2020-08-18 12:28] #138 closed

[2020-08-20 21:41] nblair opened #162 "1.0.19 release points to non-existent 3.26.1-01 nexus repository manager version"
* **What are you trying to do?**

I'm the author of [another plugin](https://github.com/sonatype-nexus-community/nexus-blobstore-google-cloud) in the community currently in the process of updating the plugin to the latest version of Nexus Repository Manager (3.26.1-02).

I'm running into repeated failure to build my project only on CircleCI, relevant section:

[code]

Note: those that can access i

[2020-09-02 16:17] sonatype-depshield[bot] opened #164 "DepShield encountered errors while building your project"
The project could not be analyzed because of build errors. Please review the [error messages here](https://depshield.sonatype.org/error/sonatype-nexus-community/nexus-repository-helm/jWmPH00mSPQIU4tvqu3vIw). Another build will be scheduled when a change to a manifest file<sup>*</sup> occurs. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonat

[2020-09-03 16:13] webmutation opened #165 "Helm repository indexes wrong metadata"
I am reporting this bug has it can potentially create a big amount of problems for deployment. Making it possible to deploy different versions than the ones expected and failing to create new versions if helm nexus metadata is wrongly associated with file.

We faced this strange behavior recently. A file was uploaded with the wrong Chart version creating a link in the metadata for a version 1.0.0-

[2020-09-07 09:36] mlukaretkyi commented on #127
Related Jira ticket. https://issues.sonatype.org/browse/NEXUS-24682

[2020-09-07 09:36] mlukaretkyi commented on #8
Related ticket. https://issues.sonatype.org/browse/NEXUS-24682

[2020-09-07 10:23] mlukaretkyi commented on #162
@nblair
Looks like will be relevant, by the cause that helm source code gonna move to nexus. Helm will be removed from CircleCI.

[2020-09-07 10:27] mlukaretkyi commented on #117
Will not be relevant. The page will be archived and helm source code will be part of NXRM

[2020-09-07 10:27] #117 closed

[2020-09-07 10:46] #46 closed

[2020-09-07 10:55] mlukaretkyi commented on #20
https://issues.sonatype.org/browse/NEXUS-24682

[2020-09-07 11:41] mlukaretkyi commented on #51
@vermaashutosh
@pkoehlers
Is it still relevant? I see this issue in rancher was fixed.
https://github.com/rancher/rancher/issues/14905

[2020-09-07 11:48] mlukaretkyi commented on #51
Hi. Is it still relevant?

[2020-09-07 11:49] mlukaretkyi commented on #9
@ronny35
Is it still relevant? I see this issue in rancher was fixed.
https://github.com/rancher/rancher/issues/14905

[2020-09-09 10:02] mlukaretkyi commented on #165
Hi, we are moving helm source code to nexus public. This github page will be archived. Your issue https://issues.sonatype.org/browse/NEXUS-25199

[2020-09-09 10:04] mlukaretkyi commented on #40
Hi, we are moving helm source code to nexus public. This github page will be archived. Your issue https://issues.sonatype.org/browse/NEXUS-25202

[2020-09-09 10:06] mlukaretkyi commented on #141
Hi, we are moving helm source code to nexus public. This github page will be archived. Your issue https://issues.sonatype.org/browse/NEXUS-25200

[2020-09-10 08:58] #164 closed

[2020-09-10 09:24] mlukaretkyi commented on #6
cannot reproduce

[2020-09-10 09:24] #6 closed

[2020-09-10 09:30] mlukaretkyi commented on #3
Will not be relevant after migrating source code to nexus

[2020-09-10 09:30] #3 closed